.Results-table thead > tr > th:not(:first-of-type),
.Results-table td:not(:first-of-type) {
    text-align: right;
}

.Results-table thead > tr > th {
    text-transform: uppercase;
}

.Results-diffIncrease {
    color: green;
}

.Results-diffDecrease {
    color: red;
}
