@import '~antd/dist/antd.css';

.App {
    display: flex;
    height: 100vh;
    min-width: 860px;
    background: transparent;
}

.App-header {
    align-items: center;
    background: #e0e1e3;
    display: flex;
    justify-content: center;
}

.App-header {
    padding-left: 0;
    padding-right: 0;
}

.App-body {
    overflow: auto;
}
